<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My site</title>
    </head>

    <body>
        <div class="container">
            <h1>My Website</h1>
            <p>I have created my own webserver with Node.js!</p>
        </div>
    </body>
</html>
